@page
@model RMeets.Pages.Blanks

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a asp-page="CreateBlank">Создать анкету</a>
</div>
</body>
</html>