@page
@model RMeets.Pages.ChangeModeratorCredentials

@{
    Layout = null;

    var currentUser = Model._userRepository.GetByLogin(SessionService.GetLogin(Model._httpContextAccessor));
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <div class="wrapper">
        <form method="POST">
          <h2>Управление учетной записью</h2>
          <input name="login" placeholder="Логин" value="@currentUser?.Login" required/>
          <input name="password" placeholder="Пароль" value="" required/>
          <input type="submit" asp-page-handler="PerformEdit" value="Изменить данные"/>
          <a asp-page="Moderator">Назад</a>
        </form>
      </div>
</div>
</body>
</html>