@page "{handler?}"
@model RMeets.Pages.Profile

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form asp-page="Blanks" asp-route-profileId="@Model.ProfileId">
            <button type="submit" >Анкеты</button>
    </form>
</div>
</body>
</html>