@page "{handler?}"
@model Register

@{
    Layout = null;
  var login = SessionService.GetLogin(Model.HttpContextAccessor);
  var profile = Model._userRepository.GetByLogin(login)?.Profile;
  var allowRegistration = string.IsNullOrEmpty(login);
  var profileExists = profile != null;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/largeForm.css" />
    <title>Register</title>
  </head>
<body>
@if (allowRegistration)
{
  <div class="wrapper">
    <form method="POST">
      <h2>Регистрация</h2>
      <input name="login" placeholder="Логин" required/>
      <input name="password" placeholder="Пароль" required/>
      <input name="repeatPassword" placeholder="Повторите пароль"/>
      <input type="submit" asp-page-handler="PerformRegistration" value="Создать аккаунт"/>
      <a asp-page="Login">авторизоваться</a>
    </form>
  </div>
}
else
{
  if (profileExists)
  {
    <form asp-page="Profile" asp-route-profileId="@profile?.Id">
      <h2>Вы уже авторизованы</h2>
      <input type="submit" value="В профиль"/>
    </form>
  }
  else
  {
    <form asp-page="CreateProfile">
      <h2>Вы уже авторизованы</h2>
      <input type="submit" value="Создать профиль"/>
    </form>
  }
 
}
</body>
</html>